<!-- <div class="blog" fxLayout="row"> -->

    <devly-sidepanel></devly-sidepanel>
    
    <div class="content" role="main" >
    
    
      <h2>Blog</h2>
      <h3>Blog</h3>
      <p>Tech, Data, Food, you name it.</p>
      <!-- <input type="hidden" #selection>
 -->
      <div class="matcard">
          <h3>Tech article</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, enim deserunt? Quasi, dolorem veritatis! Optio amet ratione earum ipsum suscipit totam et voluptas eaque? Nobis ipsam nulla itaque dolorum beatae!</p> 
      </div>

      <div class="matcard">
        <h3>Food article</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, enim deserunt? Quasi, dolorem veritatis! Optio amet ratione earum ipsum suscipit totam et voluptas eaque? Nobis ipsam nulla itaque dolorum beatae!</p> 
      </div>

    <div class="matcard">
        <h3>Gaming article</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, enim deserunt? Quasi, dolorem veritatis! Optio amet ratione earum ipsum suscipit totam et voluptas eaque? Nobis ipsam nulla itaque dolorum beatae!</p> 
    </div>

    <div class="matcard">
          <h3>Tech article</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, enim deserunt? Quasi, dolorem veritatis! Optio amet ratione earum ipsum suscipit totam et voluptas eaque? Nobis ipsam nulla itaque dolorum beatae!</p> 
    </div>

      <devly-footer></devly-footer>
    
    </div>
    <!-- </div> -->