:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    

  }
devly-sidepanel {
    flex: auto;
}
h1,
h2 {
  margin: 8px 0;
  font-family: "Gotham Bold" !important;
  font-size: 40px;
}



p {
    margin: 0;
}

.blog{
    /* background: url('https://devlydesign.github.io/devly-site/assets/images/bg-blob1.png') no-repeat 0% 0%;  */
/*     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101; */

}

/* .blog {
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
} */

.content {
    display: flex;
    /* position: absolute; */
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* width: 100%; */
    /* height: 150vh; */
    
  }

  .matcard {
      margin-top: 25px;
      /* position: relative; */
      background-color: orange;
     /*  opacity: 85%; */
      margin-left: 50px;
      padding: 15px;
      border-radius: 0.5em;
  }

  .matcard p {
    padding-left: 4em;
  }

  .matcard h4 {
    padding-left: 3em;
    font-style: italic;
  }

  .matcard h3, .matcard p{
      /* color: white; */
      /* opacity: 100%; */
  }


  @media screen and (max-width: 1272px) {
    .matcard {
      margin-left: 65px;
      margin-right: 25px;
    }
  }