

<div class="devlydata" fxLayout="row" fxLayoutAlign="space-between" >

        <devly-sidepanel></devly-sidepanel>
        <div class="bg"></div>
        <div class="content" role="main" fxLayout="column" fxFlex="75">
        
        
          <h2>Welcome to Devly Data.</h2>
          <p>Specializing in Data Science, Analytics, and More.</p>
          <input type="hidden" #selection>
        

        <!--   <devly-footer></devly-footer> -->
        
         
      <!--   
        
          <div class="terminal" [ngSwitch]="selection.value">
            <pre *ngSwitchDefault>Welcome to Devly Design!</pre>
            <pre *ngSwitchCase="'projects'">Projects under construction!</pre>
            <pre *ngSwitchCase="'about-us'">About us under construction!</pre>
            <pre *ngSwitchCase="'blog'">Blog under construction!</pre>
            <pre *ngSwitchCase="'welcome'">Welcome to Devly Design!</pre>
            <pre *ngSwitchCase="'build'">ng build --prod</pre>
            <div class="social-icons">
              <a href="https://www.facebook.com/DevlyDesign/" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/Facebook.png" class="social-icon"/></a>
            <a href="https://twitter.com/designdevly" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/Twitter.png" class="social-icon"/></a>
            <a href="https://www.instagram.com/devlydesign/" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/Instagram.png" class="social-icon"/></a>
            <a href="https://www.linkedin.com/company/devly-design/" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/Linkedin.png" class="social-icon"/></a>
            <p class="copysign">&copy; Devly Design, LLC 2021 </p>
            </div> -->
            
            
        </div>
        </div>
        
       <!--  </div> -->