
#scrollbar2::-webkit-scrollbar {
  width: 20px;
}

#scrollbar2::-webkit-scrollbar-track {
  background-color: transparent;
}

#scrollbar2::-webkit-scrollbar-thumb {
  background-image: url('https://i.ibb.co/1RHr40z/248599.png'); 
  background-repeat: no-repeat, no-repeat;
  background-size: 20px;
}
/* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;




  } */
/* 
  router-outlet {
    background: url('https://devlydesign.github.io/devly-site/assets/images/bg-blob-blue.png') no-repeat 0% 0%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 101;
  } */

/* body {
    background: url('https://devlydesign.github.io/devly-site/assets/images/bg-blob-blue.png') no-repeat 0% 0%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 101;
  } */
/* 
  html, body {
    min-height: 100%;
    min-width: 100%;
  } */
  .image-bg {
/*     background-image: url('https://devlydesign.github.io/devly-site/assets/images/bg-blob-blue.png') no-repeat 50% 50%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    fill: white;
/*     margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    z-index: 101; */
  }
