<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <link href="../../assets/styles/hover.css" rel="stylesheet"> -->
<div class="toolbar" role="banner" fxLayout="column" fxFlex="15" [style.background-color]="bgColor" [ngClass]="{'expand': sideNavService.sideNavCollapsed }">
    <a routerLink="/home" routerLinkActive="active">
    <div (click)="selection.value = 'welcome'">
      <img width="40" alt="Devly Design Logo" src="https://devlydesign.github.io/devly-site/assets/icons/devly-white-small.png" class="devly-icon hvr-rotate"/>
    </div>
</a>
    <!-- <img width="40" alt="Devly Design Logo" src="./../assets/icons/devlyico.ico"/> -->
    <!-- <span>Welcome</span> -->
    <!--   <div class="spacer"></div> -->
    <input type="hidden" #selection>
        <a routerLink="/projects" routerLinkActive="active">
        <div fxLayout="row">
          <mat-icon class="hat material-icons sidebar-icon hvr-wobble-horizontal">work</mat-icon>
          <p class="sidebar-label" *ngIf="sideNavService.sideNavCollapsed">PROJECTS</p>
        </div>
        </a>
        
        <a routerLink="/about" routerLinkActive="active">
          <div fxLayout="row">
          <mat-icon class="hat material-icons sidebar-icon hvr-wobble-horizontal">info</mat-icon>
          <p class="sidebar-label" *ngIf="sideNavService.sideNavCollapsed">ABOUT US</p>
          </div>
        </a>
          
        <a routerLink="/devlydata" routerLinkActive="active">
        <div fxLayout="row">
        <mat-icon class="hat material-icons sidebar-icon hvr-wobble-horizontal">code</mat-icon>
        <p class="sidebar-label" *ngIf="sideNavService.sideNavCollapsed">DEVLY DATA</p>
        </div>
      </a>

      <a routerLink="/blog" routerLinkActive="active">
        <div fxLayout="row">
          <mat-icon class="hat material-icons sidebar-icon hvr-wobble-horizontal">forum</mat-icon>
          <p class="sidebar-label" *ngIf="sideNavService.sideNavCollapsed">BLOG</p>
        </div>
      </a>

        <div (click)="sideNavService.toggleExpand()">
          <mat-icon class="hat openclose material-icons sidebar-icon hvr-skew-forward" *ngIf="!sideNavService.sideNavCollapsed">last_page</mat-icon>
          <mat-icon class="hat openclose material-icons sidebar-icon hvr-skew-backward" *ngIf="sideNavService.sideNavCollapsed">first_page</mat-icon>
        </div>
 

      <div fxLayout="column" fxLayoutGap="20px" class="socials">
        <a href="https://github.com/DevlyDesign" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/gh48.png" id="social-icon" class="hvr-buzz"/></a>
        <a href="https://www.facebook.com/DevlyDesign/" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/fb48.png" id="social-icon" class="hvr-buzz"/></a>
        <a href="https://twitter.com/designdevly" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/t48.png" id="social-icon" class="hvr-buzz"/></a>
        <a href="https://www.instagram.com/devlydesign/" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/ig48.png" id="social-icon" class="hvr-buzz"/></a>
        <a href="https://www.linkedin.com/company/devly-design/" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/li48.png" id="social-icon" class="hvr-buzz"/></a>
        <p *ngIf="sideNavService.sideNavCollapsed" class="copysign">&copy; Devly Design, LLC 2023 </p>
      </div>
  </div>