:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    

  }



h1,
h2
{
  margin: 8px 0;
  font-family: "Gotham Bold" -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 40px;
  /* max-width: 300px; */
}

h4 {
  font-size: 150%;
  padding: 15px;
  margin: 15px;
}

p {
    margin: 0;
}

.about {
/*     background: url('https://devlydesign.github.io/devly-site/assets/images/bg-blob-crimson.png') no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;


    z-index: 1;
    padding-bottom: 400px; */
   /*  position: relative;
    width: 100vw; */
   
}

.bg {
  background: url('https://devlydesign.github.io/devly-site/assets/images/bg-blob-crimson.png') no-repeat 0% 0%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*   margin: 0;
  padding: 0; */
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.github-about {
  fill: white;
  color:white;
  z-index: 1;
  position: relative;
  top: 15px;
  right: 72px;
}

.content {
  
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    /* max-width: 960px; */
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    position: absolute;
    width: calc(100vw - (100vw - 100%));
    z-index: -1;
  }

  .migs p, .himi p {
    width: 40%;
    position: relative;
    top: 60px;
  }

  .mig-title-card, .himi-title-card {
    margin-bottom:35px;
  }

  .matcard-about {
    /* margin-top: 25px; */
   /*  background-color: orange; */
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    top: 20vh;
   /*  opacity: 85%; */
   color: white;
   font-size: 20px;
    padding: 20px;
    border-radius: 0.5em;
    /* margin-top: 15vh; */
   
}

.mig-img, .himi-img {
  margin-right: 35px;
}

.himi {
  padding-top:50px;
}


@media screen and (max-width: 310px) {
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    left:25px;
  }
}


@media screen and (max-width: 500px) {
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
  }

  p {
    font-size: 14px;
  }

  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px){
  p {
    width: 100% !important;
  }

  .social-icon {
    height: 90%;
    width: 90%;
  }
}

@media screen and (max-width: 1072px){
  .mig-img, .himi-img {
    height: 50%;
    width: 50%;
  }
}

@media screen and (max-width: 1178px) {
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 100px;
    /* max-width: 200px; */
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    top: 170px;
  }


}