:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    

  }

h1,
h2
{
  margin: 8px 0;
  font-family: "Gotham Bold" -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 40px;
  max-width: 300px;
}

p {
    margin: 0;
}

.about {
    background: url('https://devlydesign.github.io/devly-site/assets/images/bg-blob-crimson.png') no-repeat 0% 0%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    width: 100vw;
    height: 250vh;
    z-index: 101;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    height: 150px;
  }

  .matcard-about {
    /* margin-top: 25px; */
   /*  background-color: orange; */
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    top: 30vh;
   /*  opacity: 85%; */
   color: white;
   font-size: 20px;
    padding: 10px;
    border-radius: 0.5em;
    margin-top: 15vh;
}


  @media screen and (max-width: 500px) {
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 960px;
      flex-direction: column;
      align-items: center;
      position: relative;
      color: white;
      top: 70px;
    }
  }
  
  @media screen and (max-width: 1178px) {
    .content {
      display: flex;
      margin: 82px auto 32px;
      padding: 0 16px;
      max-width: 100px;
      /* max-width: 200px; */
      flex-direction: column;
      align-items: center;
      position: relative;
      color: white;
      top: 170px;
    }
  }