<div class="about">

    <devly-sidepanel></devly-sidepanel>
    
    <div class="content" role="main" fxLayout="column" fxFlex="75">
    
    
      <h1>About Us</h1>
      <!-- <h3>About Us</h3> -->
      <h2>Who are we?</h2>
      <p>Two lifelong friends with a passion for coding, data, and gaming.</p>
      <!-- <input type="hidden" #selection> -->

      <div class="matcard-about">
        <div fxLayout='row'>
          <h2>Miguel Martinez</h2>
          <p>CEO</p>
        </div>
        <div fxLayout='row'>
          <img src="./../../assets/images/mig.png"/>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate placeat id temporibus culpa harum possimus?</p>
        </div>
   
      </div>

      <div class="matcard-about">
        <div fxLayout='row'>
          <h2>Reha Avci</h2>
        <p>CFO</p>
        </div>    
        <div fxLayout='row'>
          <img src="./../../assets/images/himi.png"/>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate placeat id temporibus culpa harum possimus?</p>
        </div>
      </div>


      <devly-footer></devly-footer>
    
    </div>
    </div>