:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    

  }



h1,
h2
{
  margin: 8px 0;
  font-family: "Gotham Bold" -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 40px;
  max-width: 300px;
}

p {
    margin: 0;
}

.about {
    background: url('https://devlydesign.github.io/devly-site/assets/images/bg-blob-crimson.png') no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
 /*    position: absolute; */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    /* height: 1000px; */
    /* min-height: 200vh; */

    z-index: 1;
    padding-bottom: 400px;
    /* overflow-y: scroll; */
}

.github-about {
  fill: white;
  color:white;
  z-index: 1;
  position: relative;
  top: 15px;
  right: 72px;
}

.content {
  
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
  }

  .matcard-about {
    /* margin-top: 25px; */
   /*  background-color: orange; */
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    top: 20vh;
   /*  opacity: 85%; */
   color: white;
   font-size: 20px;
    padding: 10px;
    border-radius: 0.5em;
    /* margin-top: 15vh; */
}

.mig-img, .himi-img {
  margin-right: 15px;
}

.himi {
  padding-top:50px;
}


@media screen and (max-width: 310px) {
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    left:25px;
  }
}


@media screen and (max-width: 500px) {
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
  }

  p {
    font-size: 14px;
  }

  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px){
  .mig-img, .himi-img {
    height: 50%;
    width: 50%;
  }
}

@media screen and (max-width: 1178px) {
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 100px;
    /* max-width: 200px; */
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    top: 170px;
  }


}