<div class="about">

    <devly-sidepanel></devly-sidepanel>
    <div class="bg"></div>
    <div class="content" role="main" fxLayout="column" fxFlex="75">
    
    
      <h1>About Us</h1>
      <!-- <h3>About Us</h3> -->
      <h3>Who are we?</h3>
      <p>Two lifelong friends with a passion for coding, data, and gaming.</p>
      <!-- <input type="hidden" #selection> -->

      <div class="matcard-about migs">
        <div class="mig-title-card" fxLayout='row'>
          <h3>Miguel Martinez</h3>
          <h4>CEO</h4>
        </div>
        <div fxLayout='row'>
          <img class="mig-img" src="https://devlydesign.github.io/devly-site/assets/images/mig.png"/>
          <div fxLayout="column" fxLayoutGap="100px">
            <p>Software Engineer. Owner of Devly Design. Graduated from the University of Michigan with a BSI.</p>
          <div fxLayout='row' fxLayoutGap="25px">
            <a href="https://www.linkedin.com/in/miguel-martinez-11a697135/" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/li48.png" class="social-icon hvr-buzz"/></a>
          <a href="https://github.com/migmartinez" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/gh48.png" class="social-icon hvr-buzz"/></a>
          </div>
          </div>
         

        </div>
   
      </div>

      <div class="matcard-about himi">
        <div class="himi-title-card" fxLayout="row">
          <h3>Reha Avci</h3>
        <h4>CFO</h4>
        </div>    
        <div fxLayout="row">
          <img class="himi-img" src="https://devlydesign.github.io/devly-site/assets/images/himi.png"/>
            <div fxLayout='column' fxLayoutGap="100px">
              <p>Business Insight Engineer. CFO of Devly Design. Graduated from Michigan State University specializing in Data Science and Finance.</p>
              
              <div fxLayout="row" fxLayoutGap="25px">
                <a href="https://www.linkedin.com/in/reha-avci/" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/li48.png" class="social-icon hvr-buzz"/></a>
                <a href="https://github.com/RehaAvci" target="_blank"><img src="https://devlydesign.github.io/devly-site/assets/icons/gh48.png" class="social-icon hvr-buzz"/></a>
              </div>
            </div>
        </div>
      </div>


     <!--  <devly-footer></devly-footer> -->
    
    </div>
    </div>